<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<false/>
	<key>developmentAppKey</key>
	<string>jCCNP5m9TSuIX61OghbCkA</string>
	<key>developmentAppSecret</key>
	<string>2YcwPToHR5OmgH2kPA-c8A</string>
	<key>productionAppKey</key>
	<string>jCCNP5m9TSuIX61OghbCkA</string>
	<key>productionAppSecret</key>
	<string>2YcwPToHR5OmgH2kPA-c8A</string>
</dict>
</plist>
